.canvas1{
  width: 360px;
  height: 640px;
  border: dashed 1px black;
  margin: 0 auto;
  background-image: url('https://media-public.canva.cn/k2Xu0/MAEhC6k2Xu0/1/s2.png');
  background-size: 360px 640px;
}

#button{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-100%);
}

video{
  display: none;
}

#rnd{
  display: none;
  width: 200px;
  height: 200px;
}